* {
  box-sizing: border-box;
  font-size: 2rem;
}

body {
  font-size: 2rem;
  color: black;
  background-color: lightblue;
}



form {
    display: inline-block;
}
.form-group {
    text-align: center;
    padding-bottom: 25px;
}
#todo {
    margin: 0 auto;
    width: 500px;
}

a.close {
  float: right;
}

section {
  width: 50%;
  margin: auto;
}
